@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  scroll-behavior: smooth;
  background-color: #4f653e;

}

footer a {
  text-decoration: none;

}



 @layer components {
  
.btn{
  @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center;
}

.btn-primary {
  @apply bg-black text-white
}

.logo-ticker-image {
   @apply h-40 w-auto;
}
.mask-gradient {
  mask-image: linear-gradient(to right, transparent, black, transparent);
}

.bg-hero-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),  
    rgba(0, 0, 0, 0.6), 
    #126e51, 
    rgba(76, 175, 80, 0.2), 
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.9) 
  );
}
}

.rotate-45 {
  @apply rotate-[45deg]
}

.rotate-90 {
  @apply rotate-[90deg]
}

.rotate-135 {
  @apply rotate-[135deg]
}

.rotate-180 {
  @apply rotate-[180deg]
}

.rotate-225 {
  @apply rotate-[225deg]
}

.rotate-270 {
  @apply rotate-[270deg]
}

.rotate-315 {
  @apply rotate-[315deg]
}

.rotate-360 {
  @apply rotate-[360deg]
}

.-rotate-45 {
  @apply rotate-[-45deg]
}

.-rotate-90 {
  @apply rotate-[-90deg]
}

.-rotate-135 {
  @apply rotate-[-135deg]
}

.-rotate-180 {
  @apply rotate-[-180deg]
}

.-rotate-225 {
  @apply rotate-[-225deg]
}

.-rotate-270 {
  @apply rotate-[-270deg]
}

.-rotate-315 {
  @apply rotate-[-315deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}

.no-scroll {
  overflow: hidden;
}

.custom-width {
  width: calc(100% - 10rem);
}


